.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #5b8a6e;
  color: white;
  padding: 16px;
}

.App-link {
  color: #6ba181;
}

.Navigation {
  width: 100%;
  position: fixed;
  padding-top: 10px;
  text-align: center;
  background-color: #5b8a6e;
  color: #ffffff;
}

.Navigation ul {
  display: table;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.Navigation Link {
  float: left;
}

.Navigation li{
  justify-content: center;
  float: left;
  padding: 16px;
}

.Navigation li:hover {
  background-color: #6ba181;
}

.Nav-link {
  color: white;
  align-items: center;
}

.Button {
  background-color: #5b8a6e;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  margin: 10px;
  color: white;
}

.Button:hover {
  background-color: #6ba181;
  cursor: pointer;
}

.Title {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-field {
  padding: 5px;
}

.input-field label{
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
